<%= form_for @treasure do |f| %>
	<% if @treasure.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@treasure.errors.count, "error") %> prohibited this treasure from being saved:</h2>
			<ul>
				<% @treasure.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :name %><br><%= f.text_field :name, class: "form-control" %><br>
	<%= f.label :description %><br><%= f.text_area :description, class: "form-control" %><br><br>

	<%= f.fields_for :theories, @treasure.theories.build do |theory| %>
		<%= theory.label :theory_name %><br><%= theory.text_field :name %><br>
		<%= theory.label :theory_description %><br><%= theory.text_area :description %><br>
		<%= theory.label :theory_issues %><br><%= theory.text_field :issues %><br>
		<%= theory.label :theory_success %><br><%= theory.check_box :success %><br>
		<%= theory.label :theory_prove_date %><br><%= theory.date_field :prove_date %><br>

		<%= theory.hidden_field :user_id, :value => current_user.id %>
	<% end %><br>

	<%= f.submit class: "btn btn-primary" %>

<% end %>
