<h1>List of Treasures</h1>

<table class="table" align="center">
  <thead>
    <tr><th colspan="2"></th></tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Description</strong></td>
    </tr>

    <% @treasures.each do |treasure| %>
      <tr>
        <td><%= treasure.name %></td>
        <td><%= treasure.description %></td>

        <% if current_user.admin %>
          <td><%= link_to "Show #{treasure.name}", treasure_path(treasure) %></td>
          <td><%= link_to "Delete #{treasure.name}", treasure_path(treasure), method: :delete, data: { confirm: "Are you sure you want to delete #{treasure.name}?" } %></td>
        <% else %>
          <td><%= link_to "Find #{treasure.name}", treasure_path(treasure) %></td>
        <% end %>

      </tr><br>
    <% end %>
  </tbody>
</table><br>

<p><%= link_to "New Treasure", new_treasure_path %> | <%= link_to "Most Recent Theories", "/recent" %></p>
