<p id="notice"><%= notice %></p>

<div class="center">
  <div class="info">
    <p><strong>Name</strong><br><%= @treasure.name %></p>
    <p><strong>Description</strong><br><%= @treasure.description %></p>

    <table class="box" align="center">
      <tr>
        <th>Theory Name</th>
        <th>Theory Description</th>
        <th>Theory Issues</th>
        <th>Theory Success?</th>
        <th>Theory Prove Date</th>
        <th>Created By</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% @treasure.theories.success.each do %>
        <h3 style="color: red; font-style: italic;">Mystery Solved!</h3>
      <% end %>
      <% @treasure.theories.each do |t| %>
        <tr>
          <td><%= t.name %></td>
          <td><%= t.description %></td>
          <td><%= t.issues %></td>
          <td><%= t.success %></td>
          <td><%= t.prove_date %></td>
          <td><%= t.user.username %></td>
          <td><%= link_to "Edit #{t.name}", [:edit, @treasure, t] %></td>
          <td><%= link_to "Delete #{t.name}", [@treasure, t], method: :delete, data: { confirm: "Are you sure you want to delete #{t.name}?" } %></td>

        </tr>
      <% end %>
    </table><br>

    <%= link_to 'Edit', [:edit, @treasure] %> | <%= link_to 'Create Theory', new_treasure_theory_path(@treasure.id) %>
  </div>
</div>
